# Веса моделей (большие файлы)
yolo26n.pt
yolov8s-seg.pt

# Медиафайлы
Встреча_в_Телемосте_13_06_26_19_03_38_—_запись.webm
манга_dls.pdf

# Папки, которые не нужно версионировать
.ipynb_checkpoints/
dataset/
image/
Manga/
runs/
yolo_labels/

